In [34]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split

from sklearn.impute import KNNImputer,SimpleImputer
from sklearn.linear_model import LogisticRegression

from sklearn.metrics import accuracy_score

In [35]:
df = pd.read_csv("/Users/namansisodia/Downloads/Housing.csv")
df.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420.0,4.0,2.0,3.0,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960.0,4.0,4.0,4.0,yes,no,no,no,yes,3,no,furnished
2,12250000,NaN,3.0,2.0,2.0,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500.0,4.0,2.0,2.0,yes,no,yes,no,yes,3,yes,semi-furnished
4,11410000,7420.0,4.0,1.0,2.0,yes,yes,yes,no,yes,2,no,furnished

In [36]:
df = df[["area","price","bedrooms","bathrooms","stories"]]

In [37]:
df.head()

     area     price  bedrooms  bathrooms  stories
0  7420.0  13300000       4.0        2.0      3.0
1  8960.0  12250000       4.0        4.0      4.0
2     NaN  12250000       3.0        2.0      2.0
3  7500.0  12215000       4.0        2.0      2.0
4  7420.0  11410000       4.0        1.0      2.0

In [38]:
df.isnull().mean()*100

area         6.055046
price        0.000000
bedrooms     3.853211
bathrooms    2.935780
stories      3.486239
dtype: float64

In [39]:
x = df.drop(columns = "price")
y = df["price"]

In [40]:
X_train,X_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=2)

# How KNN imputer works: Its simple its find nearby cordinate 
# lets suppose you have 10 rows and missing value in 4 and 7 row , so knn imputer will check the similar rows presented in the dataset .
# more GO to Doumentation : https://scikit-learn.org/stable/modules/generated/sklearn.impute.KNNImputer.html

In [41]:
# Impute the value with KNN imputer 
knn = KNNImputer(n_neighbors=3,weights='distance')

X_train_trf = knn.fit_transform(X_train)
X_test_trf = knn.transform(X_test)

In [42]:
lr = LogisticRegression()

lr.fit(X_train_trf,y_train)

y_pred = lr.predict(X_test_trf)

KNN =accuracy_score(y_test,y_pred)*100

/Users/namansisodia/anaconda3/lib/python3.11/site-packages/sklearn/linear_model/_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [43]:
# impute the value with Simple mean()
si = SimpleImputer()

X_train_trf2 = si.fit_transform(X_train)
X_test_trf2 = si.transform(X_test)

In [44]:
lr = LogisticRegression()

lr.fit(X_train_trf2,y_train)

y_pred2 = lr.predict(X_test_trf2)

mean = accuracy_score(y_test,y_pred2)*100

/Users/namansisodia/anaconda3/lib/python3.11/site-packages/sklearn/linear_model/_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [33]:
# compare Both 
print(f"Its depend on analysis that which imputer will works good \n\n\nhere\n KNN show :{KNN}\n\n\nMean:{mean}\n\n\n SO , In this dataset KNN work better ")

Its depend on analysis that which imputer will works good


here
 KNN show :4.587155963302752


Mean:2.7522935779816518


 SO , In this dataset KNN work better